@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "TD-Neumann";
  font-display: swap;
  src: url("../fonts/Neumann.woff") format("woff"); }
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/latoregular.woff2") format("woff2"), url("../fonts/latoregular.woff") format("woff"); }
* {
  padding: 0;
  margin: 0; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Lato"; }

h1, h2, h3, h4, h5, h6 {
  font-family: "TD-Neumann";
  font-weight: 300; }

@media (max-width: 991px) {
  h1[class], h2[class], h3[class] {
    font-size: 34px; } }

@media (max-width: 340px) {
  h1[class] {
    font-size: 30px; } }

@media (max-width: 991px) {
  h4[class] {
    font-size: 20px; } }

@media (max-width: 991px) {
  p {
    font-size: 14px; } }

p[class] {
  font-size: 14px; }

@media (max-width: 991px) {
  li {
    font-size: 14px; } }

input {
  border: none;
  outline: none;
  background-color: inherit; }

.body_popup-open {
  position: fixed;
  overflow-y: scroll;
  width: 100%; }

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding-left: 80px; }
  @media (max-width: 1340px) {
    .container {
      padding: 0 15px 0 95px; } }
  @media (max-width: 768px) {
    .container {
      padding: 0 15px; } }

li[class] {
  list-style: none; }

a {
  text-decoration: none; }

img {
  height: auto;
  max-width: 100%; }

button {
  text-decoration: none;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px; }

.title_color {
  -webkit-background-clip: text;
  color: #8E8E8E00;
  font-size: 60px;
  line-height: 1.4em;
  word-spacing: 0.1em;
  text-align: center; }

.text_color {
  -webkit-background-clip: text;
  color: #8E8E8E00;
  font-size: 19px;
  font-weight: 300;
  line-height: 1.8em;
  letter-spacing: 0.6px;
  word-spacing: 0.1em;
  text-align: center; }

.border_top {
  display: flex;
  position: absolute;
  top: 0;
  height: 44px;
  width: calc(100% - 80px);
  transform: rotate(180deg);
  right: 0; }
  @media (max-width: 768px) {
    .border_top {
      width: 100%; } }
  .border_top svg {
    width: 100%; }
    .border_top svg path {
      fill: white; }

.border_bottom {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
  height: 35px;
  width: calc(100% - 80px);
  transform: rotate(180deg); }
  @media (max-width: 768px) {
    .border_bottom {
      width: 100%; } }
  .border_bottom svg {
    width: 100%; }
    .border_bottom svg path {
      fill: white; }

@keyframes video {
  0% {
    top: 0; }
  50% {
    top: 50%; }
  100% {
    top: 0; } }
.leftSidebar {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid #AF8E7B;
  background-color: #232524;
  max-width: 80px;
  left: 0;
  height: 100%;
  z-index: 10000; }
  @media (max-width: 768px) {
    .leftSidebar {
      display: none; } }
  .leftSidebar__burger {
    position: relative;
    top: 40px;
    cursor: pointer; }
    .leftSidebar__burger img {
      width: 27px; }
  .leftSidebar__contacts, .leftSidebar__social {
    display: flex;
    transform: rotate(-90deg);
    position: relative; }
  .leftSidebar__contacts {
    top: 40vh; }
  .leftSidebar__items {
    font-size: 15px;
    text-transform: uppercase; }
    .leftSidebar__items a {
      color: #AF8E7B;
      letter-spacing: 0.8px; }
    .leftSidebar__items:not(:first-child) {
      margin-left: 40px; }
  .leftSidebar__social {
    bottom: -70vh; }

.header {
  padding-top: 15px;
  max-height: 83px;
  z-index: 100;
  position: relative; }
  @media (max-width: 560px) {
    .header {
      padding-top: 0;
      z-index: 200; } }
  .header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 70px; }
    @media (max-width: 1340px) {
      .header__wrapper {
        flex-wrap: wrap;
        column-gap: 35px; } }
    @media (max-width: 768px) {
      .header__wrapper {
        flex-direction: column; } }
    @media (max-width: 560px) {
      .header__wrapper {
        flex-direction: row;
        flex-wrap: nowrap;
        background-color: #232426;
        position: fixed;
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px; } }
  .header__img {
    display: flex;
    align-items: center;
    width: calc(30% - 5px); }
    @media (max-width: 1340px) {
      .header__img {
        width: calc(50% - 5px);
        margin-bottom: 20px; } }
    @media (max-width: 768px) {
      .header__img {
        width: 100%; } }
    @media (max-width: 560px) {
      .header__img {
        margin-bottom: 0; } }
    .header__img span {
      display: flex;
      align-items: center;
      margin-left: 10px;
      font-size: 12px;
      color: #C4C4C4; }
      @media (max-width: 560px) {
        .header__img span {
          display: none; } }
      .header__img span:before {
        content: "";
        width: 40px;
        height: 2.5px;
        background-color: #B08F7C;
        margin-right: 10px; }
    .header__img img {
      height: 68px; }
  .header__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 5px); }
    @media (max-width: 768px) {
      .header__list {
        width: 100%;
        margin-bottom: 20px; } }
    @media (max-width: 661px) {
      .header__list {
        flex-direction: column; } }
    @media (max-width: 560px) {
      .header__list {
        display: none; } }
  .header__items {
    display: flex;
    align-items: center;
    color: #C4C4C4;
    width: calc(50% - 5px);
    column-gap: 15px; }
    @media (max-width: 661px) {
      .header__items {
        width: 100%; } }
    .header__items:not(:last-child) {
      margin-right: 10px; }
    .header__items:first-child {
      font-size: 14px; }
      @media (max-width: 661px) {
        .header__items:first-child {
          margin-bottom: 10px; } }
      .header__items:first-child > a > span {
        color: #B08F7C;
        position: relative; }
        .header__items:first-child > a > span::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1em;
          background-color: #B08F7C;
          opacity: 0;
          transition: opacity 300ms, transform 300ms; }
        .header__items:first-child > a > span:hover::after {
          opacity: 1;
          transform: translate3d(0, 0.2em, 0); }
      .header__items:first-child:before {
        content: "";
        width: 35px;
        height: 30px;
        background-image: url("../img/map.png");
        background-position: center center;
        background-size: cover;
        border-radius: 50%; }
    .header__items a {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      font-size: 14px;
      color: inherit;
      width: 100%; }
      @media (max-width: 768px) {
        .header__items a {
          align-items: flex-start; } }
    .header__items:nth-child(2) {
      display: flex;
      align-items: center; }
      .header__items:nth-child(2) a {
        display: flex;
        flex-direction: column;
        align-items: flex-end; }
        @media (max-width: 768px) {
          .header__items:nth-child(2) a {
            align-items: flex-start; } }
        .header__items:nth-child(2) a span {
          color: #B08F7C;
          text-decoration: underline; }
  .header__callback {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(20% - 5px);
    min-width: 210px; }
    @media (max-width: 768px) {
      .header__callback {
        width: 100%;
        min-width: auto;
        align-items: flex-start; } }
    .header__callback a {
      font-size: 24px;
      color: #C4C4C4; }
      @media (max-width: 560px) {
        .header__callback a {
          font-size: 16px; } }
      @media (max-width: 340px) {
        .header__callback a {
          font-size: 13px; } }
  .header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #B08F7C;
    font-size: 14px;
    transition: all 0.9s ease;
    position: relative; }
    @media (max-width: 560px) {
      .header__button {
        display: none; } }
    .header__button::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0.1em;
      background-color: #B08F7C;
      opacity: 0;
      transition: opacity 300ms, transform 300ms; }
    .header__button:hover::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0); }

.backGround {
  position: absolute;
  width: 100%;
  height: calc(100% + 83px);
  background-image: url("../img/backMain.jpg");
  top: 0;
  opacity: 0.04;
  margin-top: -83px; }
  @media (max-width: 1340px) {
    .backGround {
      height: calc(100% + 148px);
      margin-top: -148px; } }
  .backGround_popup {
    height: 100%;
    margin-top: 0;
    opacity: 0.1;
    border-radius: 16px; }

.videoBlock__position {
  position: absolute;
  width: 300px;
  height: 200px;
  top: 20%;
  right: 4%; }
  @media (max-width: 1290px) {
    .videoBlock__position {
      top: 30%;
      right: -60px; } }
  @media (max-width: 1024px) {
    .videoBlock__position {
      top: 50%;
      right: -90px; } }
  @media (max-width: 560px) {
    .videoBlock__position {
      top: 59%;
      right: -130px; } }
  @media (max-width: 450px) {
    .videoBlock__position {
      top: 63%; } }
  @media (max-width: 390px) {
    .videoBlock__position {
      height: 150px;
      top: 65%; } }

.videoBlock {
  display: flex;
  flex-direction: column;
  z-index: 120;
  position: absolute;
  text-align: right;
  animation: video 3s infinite ease-in-out; }
  .videoBlock__img {
    align-self: flex-end;
    max-width: 52px;
    max-height: 52px;
    margin-bottom: 15px; }
  .videoBlock p {
    color: white;
    max-width: 200px; }
    @media (max-width: 560px) {
      .videoBlock p {
        max-width: 160px; } }

.backGround-gradient {
  background-image: linear-gradient(340deg, #A48573 1%, #232426 81%);
  position: absolute;
  width: 100%;
  height: calc(100% + 83px);
  top: 0;
  margin-top: -83px;
  z-index: -1; }
  @media (max-width: 1340px) {
    .backGround-gradient {
      height: calc(100% + 148px);
      margin-top: -148px; } }

.hero {
  position: relative;
  background-image: url("../img/women-back.webp");
  background-repeat: no-repeat;
  background-size: 715px;
  background-position: 85% bottom;
  margin-bottom: 80px; }
  @media (max-width: 1290px) {
    .hero {
      background-size: 550px;
      background-position: 95% bottom; } }
  @media (max-width: 1024px) {
    .hero {
      background-size: 450px;
      padding-bottom: 250px; } }
  @media (max-width: 560px) {
    .hero {
      background-size: 350px; } }
  @media (max-width: 560px) {
    .hero {
      background-size: 250px;
      padding-bottom: 100px; } }
  .hero__wrapper {
    padding-top: 200px;
    padding-bottom: 300px;
    position: relative;
    z-index: 20; }
  .hero__title {
    color: white;
    font-size: 52px;
    line-height: 1.3em;
    letter-spacing: 1px;
    max-width: 300px;
    margin-bottom: 25px; }
  .hero__text {
    max-width: 460px;
    color: #F4F4F4;
    margin-bottom: 25px;
    line-height: 1.3em;
    letter-spacing: 1px;
    font-size: 15px; }
    .hero__text span {
      display: block; }
  .hero__buttonsLink {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 440px; }
  .hero__link {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    color: #EBEBEB;
    background-image: linear-gradient(180deg, #DCC29D00 0%, #AF8E7B 100%);
    border: 2px solid #AF8E7B;
    border-radius: 25px;
    padding: 10px 15px; }
  .hero__list {
    padding-top: 50px;
    color: white;
    padding-left: 15px; }
    .hero__list li {
      font-weight: bold;
      font-size: 16px;
      list-style: inherit; }

.we {
  margin-bottom: 100px; }
  .we__title, .we__text {
    background-image: linear-gradient(to right top, #ffffff, #776154, #AF8E7B, #222222, #776154);
    text-align: center; }
  .we__title {
    font-size: 51px; }
  .we__text {
    font-size: 19px;
    margin-bottom: 40px; }
  .we__blockWrapper {
    display: flex;
    justify-content: center;
    align-items: stretch;
    column-gap: 20px;
    flex-wrap: wrap; }
    @media (max-width: 991px) {
      .we__blockWrapper {
        justify-content: flex-start; } }
  .we__blockCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 16px);
    max-width: 250px;
    min-height: 290px;
    text-align: center;
    margin-bottom: 100px;
    position: relative;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 15px; }
    @media (max-width: 991px) {
      .we__blockCenter {
        width: calc(50% - 16px);
        max-width: 50%;
        margin-bottom: 30px; } }
    @media (max-width: 560px) {
      .we__blockCenter {
        width: 100%;
        max-width: 100%; } }
    .we__blockCenter:nth-child(2), .we__blockCenter:nth-child(4) {
      top: 30px; }
      @media (max-width: 560px) {
        .we__blockCenter:nth-child(2), .we__blockCenter:nth-child(4) {
          top: auto; } }
    .we__blockCenter:nth-child(6) {
      bottom: 30px; }
      @media (max-width: 991px) {
        .we__blockCenter:nth-child(6) {
          top: 30px;
          bottom: auto; } }
      @media (max-width: 560px) {
        .we__blockCenter:nth-child(6) {
          top: auto; } }
  .we__blockFront, .we__blockBack {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all 0.5s ease;
    border-radius: 15px; }
    .we__blockFront p, .we__blockBack p {
      padding: 10px;
      word-wrap: break-word; }
  .we__textSmall {
    width: 90%; }
  .we__blockBack {
    transform: perspective(600px) rotateY(180deg);
    overflow: hidden; }
  .we__blockFront {
    transform: perspective(600px) rotateY(0deg); }
  .we__blockGray {
    background-image: linear-gradient(80deg, #FFFFFF52 0%, #C2C2C2C4 100%);
    color: #6A6A6A; }
  .we__blockBrown {
    background-image: linear-gradient(180deg, #776154 0%, #B08F7C 100%);
    color: white; }
  .we__number {
    background-image: linear-gradient(to right top, #ffffff, #FFFFFF, #AF8E7B, #FFFFFF, #FFFFFF);
    -webkit-background-clip: text;
    font-size: 48px;
    color: #8E8E8E00; }
  .we__backBlock {
    position: absolute;
    width: 210px;
    height: 170px;
    bottom: -40px;
    right: calc(35% - 105px);
    background-size: cover;
    background-repeat: no-repeat; }
    .we__backBlock-paper {
      background-image: url("../img/we_img/paper.png"); }
    .we__backBlock-pen, .we__backBlock-print {
      width: 90px;
      height: 100px;
      right: calc(35% - 45px); }
    .we__backBlock-pen {
      background-image: url("../img/we_img/pen.png"); }
    .we__backBlock-print {
      background-image: url("../img/we_img/print.png");
      filter: brightness(100%) contrast(100%) saturate(95%) blur(0px) hue-rotate(149deg); }

.we__blockCenter:hover > .we__blockFront {
  transform: perspective(600px) rotateY(-180deg);
  transition: all 0.5s ease; }

.we__blockCenter:hover > .we__blockBack {
  transform: perspective(600px) rotateY(0deg);
  transition: all 0.5s ease; }

.backGround_six {
  margin-top: 0;
  height: 100%;
  left: 0; }

.backGround-gradient_six {
  background-image: linear-gradient(350deg, #A48573 0%, #232426 49%);
  margin-top: 0;
  height: 100%;
  left: 0; }

.six {
  position: relative; }
  .six__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    margin-bottom: 100px; }
  .six__title {
    background-image: linear-gradient(to right top, #ffffff, #f4f4f4, #5f5f5f, #989898, #f4f4f4);
    text-align: center;
    max-width: 700px; }
  .six__img {
    position: relative;
    margin-top: 80px;
    min-width: 640px;
    min-height: 675px;
    height: auto;
    background-image: url("../img/six_img.webp");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center; }
    @media (max-width: 991px) {
      .six__img {
        display: flex;
        flex-direction: column;
        background-size: contain;
        background-position: bottom center;
        min-width: 100%; } }
    @media (max-width: 910px) {
      .six__img {
        background-size: 450px;
        padding-bottom: 200px; } }
  .six__popupWrapper {
    display: flex;
    flex-wrap: wrap; }
  .six__popupItem {
    display: inline-flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    margin-bottom: 100px;
    position: relative;
    cursor: pointer; }
    @media (max-width: 991px) {
      .six__popupItem {
        flex-direction: column;
        position: static;
        width: 100%;
        align-items: flex-start;
        margin-bottom: 20px; } }
    .six__popupItem:nth-child(3) {
      right: 20px; }
    .six__popupItem:nth-child(5) {
      right: 40px; }
    .six__popupItem:nth-child(7) {
      right: 60px; }
    .six__popupItem:nth-child(4) {
      left: 20px; }
    .six__popupItem:nth-child(6) {
      left: 40px; }
    .six__popupItem:nth-child(8) {
      left: 60px; }
    .six__popupItem .six__popupText h5 {
      order: 2; }
    .six__popupItem_right .six__popupText h5 {
      order: 2; }
    .six__popupItem_right .six__popupInvisible {
      right: auto;
      left: 27px; }
    .six__popupItem:hover .six__popupInvisible {
      opacity: 1;
      pointer-events: auto; }
  .six__popupText {
    display: flex;
    align-items: center;
    position: relative; }
    .six__popupText h5 {
      color: white;
      margin-left: 10px;
      margin-right: 10px;
      font-size: 16px;
      z-index: 1; }
  .six__plusImg {
    z-index: 1; }
  .six__popupInvisible {
    position: absolute;
    background: radial-gradient(52.81% 52.81% at 21.91% 39.89%, #A98976 0%, #80685A 100%);
    top: 0;
    right: 27px;
    min-width: 300px;
    padding: 15px;
    z-index: 10;
    opacity: 0;
    pointer-events: none; }
    @media (max-width: 991px) {
      .six__popupInvisible {
        right: auto;
        left: 27px; } }
  .six__popupList {
    color: white; }
  .six__popupItems:not(:last-child) {
    padding-bottom: 5px; }

@media (max-width: 768px) {
  .marquiz__container {
    margin-top: 40px !important;
    width: 100% !important; } }

.quiz {
  margin-bottom: 100px; }
  .quiz__title, .quiz__text {
    background-image: linear-gradient(to right top, #ffffff, #776154, #AF8E7B, #222222, #776154);
    text-align: center; }

.backGround_about, .backGround-gradient_about {
  margin-top: 0;
  height: 100%; }

.backGround_about {
  background-image: url("../img/aboutBack.jpg");
  opacity: 0.2; }

.about {
  position: relative; }
  .about__wrapper {
    display: flex;
    column-gap: 30px;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 80px;
    padding-bottom: 35px;
    margin-bottom: 80px; }
    @media (max-width: 991px) {
      .about__wrapper {
        flex-direction: column; } }
  .about__block {
    display: flex;
    flex-direction: column; }
    .about__block:first-child {
      width: calc(40% - 7.5px);
      padding-bottom: 80px; }
      @media (max-width: 991px) {
        .about__block:first-child {
          width: 100%; } }
    .about__block:last-child {
      justify-content: flex-end;
      width: calc(60% - 7.5px); }
      @media (max-width: 991px) {
        .about__block:last-child {
          width: 100%; } }
      @media (max-width: 691px) {
        .about__block:last-child {
          position: relative;
          left: 20px; } }
      @media (max-width: 560px) {
        .about__block:last-child {
          min-height: 430px; } }
  .about__title {
    background-image: linear-gradient(to right top, #ffffff, #f4f4f4, #5f5f5f, #989898, #f4f4f4);
    margin-bottom: 20px; }
  .about__text {
    color: #FFFFFF;
    margin-bottom: 20px; }
  .about__link {
    display: flex;
    align-items: center;
    color: white;
    z-index: 100; }
    .about__link:before {
      content: "";
      display: block;
      background-image: url("../img/play.png");
      background-repeat: no-repeat;
      background-size: cover;
      margin-right: 25px;
      width: 50px;
      height: 50px; }
  .about__slide {
    display: block;
    min-width: 650px;
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    position: relative; }
    @media (max-width: 560px) {
      .about__slide {
        background-size: cover;
        min-width: 150px;
        min-height: 430px; } }
    .about__slide:nth-child(1) {
      background-image: url("../img/about-slider/swiper1.webp"); }
    .about__slide:nth-child(2) {
      background-image: url("../img/about-slider/swiper2.webp"); }
    .about__slide:nth-child(3) {
      background-image: url("../img/about-slider/swiper3.webp"); }

.aboutSwiper {
  max-width: 100%;
  overflow: hidden; }
  @media (max-width: 560px) {
    .aboutSwiper {
      margin-left: unset;
      margin-right: unset; } }

.about_arrow {
  position: absolute;
  max-width: 32px;
  max-height: 32px;
  top: 50%;
  z-index: 1000;
  cursor: pointer;
  transform: translateY(-50%); }
  .about_arrow:before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 832.000000 1280.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.15, written by Peter Selinger 2001-2017%0A%3C/metadata%3E%3Cg transform='translate(0.000000,1280.000000) scale(0.100000,-0.100000)'%0Afill='white' stroke='none'%3E%3Cpath d='M6285 12787 c-22 -8 -53 -21 -70 -30 -16 -8 -1412 -1399 -3101 -3089%0A-2773 -2774 -3073 -3078 -3090 -3123 -12 -32 -19 -76 -19 -120 1 -142 -282%0A153 3146 -3279 2625 -2627 3102 -3100 3144 -3118 70 -31 180 -31 251 0 42 19%0A187 160 891 865 935 937 878 871 878 1013 0 59 -5 80 -30 128 -25 47 -325 352%0A-1770 1799 -957 958 -1929 1932 -2160 2164 l-420 423 2146 2147 c2384 2386%0A2192 2182 2192 2324 0 137 43 87 -891 1020 -660 659 -847 841 -885 859 -59 27%0A-156 35 -212 17z'/%3E%3C/g%3E%3C/svg%3E%0A"); }

.about-next {
  transform: translateY(-50%) rotateY(180deg);
  right: 0; }

.about-prev {
  left: 0; }

.about_arrow.swiper-button-disabled:before {
  content: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 832.000000 1280.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.15, written by Peter Selinger 2001-2017%0A%3C/metadata%3E%3Cg transform='translate(0.000000,1280.000000) scale(0.100000,-0.100000)'%0Afill='gray' stroke='none'%3E%3Cpath d='M6285 12787 c-22 -8 -53 -21 -70 -30 -16 -8 -1412 -1399 -3101 -3089%0A-2773 -2774 -3073 -3078 -3090 -3123 -12 -32 -19 -76 -19 -120 1 -142 -282%0A153 3146 -3279 2625 -2627 3102 -3100 3144 -3118 70 -31 180 -31 251 0 42 19%0A187 160 891 865 935 937 878 871 878 1013 0 59 -5 80 -30 128 -25 47 -325 352%0A-1770 1799 -957 958 -1929 1932 -2160 2164 l-420 423 2146 2147 c2384 2386%0A2192 2182 2192 2324 0 137 43 87 -891 1020 -660 659 -847 841 -885 859 -59 27%0A-156 35 -212 17z'/%3E%3C/g%3E%3C/svg%3E%0A"); }

.price__itemMain {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px; }
.price__title {
  background-image: linear-gradient(to right top, #ffffff, #775154, #AF8E6B, #222222, #776154); }
.price__textMain {
  color: #848484;
  text-align: center;
  max-width: 670px;
  margin-bottom: 30px; }
.price__itemLink {
  display: flex;
  align-items: stretch;
  column-gap: 30px; }
  @media (max-width: 691px) {
    .price__itemLink {
      flex-direction: column;
      align-items: center; } }
.price__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(33.33% - 10px);
  text-align: center;
  padding: 15px;
  font-size: 18px;
  font-weight: 200;
  color: #616161;
  background-color: #DCC29D00;
  border: 2px solid #AF8E7B;
  border-radius: 25px;
  cursor: pointer;
  transition-property: transform, background;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transform: scale(0.95); }
  @media (max-width: 691px) {
    .price__link {
      width: 100%;
      transform: scale(0.8); } }
  .price__link.active {
    transform: scale(1.05);
    font-size: 18px;
    font-weight: 200;
    color: #FFFFFFE6;
    background-image: linear-gradient(180deg, #776154 0%, #B08F7C 100%);
    border-radius: 25px;
    border: none; }
    @media (max-width: 691px) {
      .price__link.active {
        transform: scale(0.85); } }
.price__tabsWrapper {
  width: 100%; }
.price__tabs {
  display: none;
  border: 1px solid #B08F7C;
  border-radius: 16px;
  margin-top: 40px;
  padding: 40px; }
  @media (max-width: 560px) {
    .price__tabs {
      padding: 10px; } }
  .price__tabs.active {
    display: flex;
    flex-direction: column; }
.price__tabsTitle {
  font-size: 28px;
  margin-bottom: 20px; }
.price__tabsItems {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #616161;
  line-height: 17px;
  list-style: none;
  padding-left: 10px; }
  .price__tabsItems:before {
    content: "-";
    font-size: 16px; }
  .price__tabsItems:not(:last-child) {
    margin-bottom: 10px; }
.price__textTabs {
  font-size: 18px;
  color: #616161; }
  .price__textTabs:not(:last-child) {
    margin-bottom: 20px; }
.price__linkTabsBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px; }
.price__tabsLink {
  padding: 15px;
  font-size: 18px;
  font-weight: 200;
  color: #616161;
  background-color: #DCC29D00;
  border: 2px solid #AF8E7B;
  border-radius: 25px; }
.price__articles {
  display: flex;
  flex-direction: column;
  align-items: center; }
.price__articlesTitle {
  background-image: linear-gradient(to right top, #ffffff, #775154, #AF8E6B, #222222, #776154); }
.price__articlesText {
  background-image: linear-gradient(to right top, #ffffff, #776154, #AF8E7B, #222222, #776154);
  margin-bottom: 50px; }
.price__articlesBlock {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
  margin-bottom: 70px;
  flex-wrap: wrap; }
  @media (max-width: 768px) {
    .price__articlesBlock {
      justify-content: center; } }
.price__articlesItems {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px 50px 10px;
  width: calc(33.33% - 40px);
  min-height: 515px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media (max-width: 991px) {
    .price__articlesItems {
      min-height: 315px; } }
  @media (max-width: 768px) {
    .price__articlesItems {
      width: calc(50% - 35px); } }
  @media (max-width: 560px) {
    .price__articlesItems {
      width: 100%; } }
  @media (max-width: 440px) {
    .price__articlesItems {
      min-height: 200px; } }
  .price__articlesItems:nth-child(1) {
    background-image: url("../img/priceGal/price1.jpg"); }
  .price__articlesItems:nth-child(2) {
    background-image: url("../img/priceGal/price2.jpg"); }
  .price__articlesItems:nth-child(3) {
    background-image: url("../img/priceGal/price3.jpg"); }
  .price__articlesItems-dateBlock {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 15px;
    left: 15px;
    background-color: white;
    color: #333;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    padding: 5px 14px; }
  .price__articlesItems-title {
    color: white;
    font-size: 22px; }
  .price__articlesItems-number {
    font-size: 24px; }
  .price__articlesItems-date {
    font-size: 12px;
    text-transform: uppercase; }

.reviews__title {
  background-image: linear-gradient(to right top, #ffffff, #775154, #AF8E6B, #222222, #776154);
  margin-bottom: 40px; }

.reviewsSwiper {
  padding-bottom: 40px;
  margin-bottom: 80px; }
  .reviewsSwiper__slide {
    position: relative;
    cursor: pointer;
    padding-left: 1px;
    padding-top: 20px; }
    .reviewsSwiper__slide a img {
      width: 100%;
      height: auto;
      box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2); }
  .reviewsSwiper__arrow {
    position: absolute;
    max-width: 32px;
    max-height: 32px;
    top: 50%;
    z-index: 1000;
    cursor: pointer;
    transform: translateY(-50%); }
    .reviewsSwiper__arrow:before {
      content: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 832.000000 1280.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.15, written by Peter Selinger 2001-2017%0A%3C/metadata%3E%3Cg transform='translate(0.000000,1280.000000) scale(0.100000,-0.100000)'%0Afill='%23968080' stroke='none'%3E%3Cpath d='M6285 12787 c-22 -8 -53 -21 -70 -30 -16 -8 -1412 -1399 -3101 -3089%0A-2773 -2774 -3073 -3078 -3090 -3123 -12 -32 -19 -76 -19 -120 1 -142 -282%0A153 3146 -3279 2625 -2627 3102 -3100 3144 -3118 70 -31 180 -31 251 0 42 19%0A187 160 891 865 935 937 878 871 878 1013 0 59 -5 80 -30 128 -25 47 -325 352%0A-1770 1799 -957 958 -1929 1932 -2160 2164 l-420 423 2146 2147 c2384 2386%0A2192 2182 2192 2324 0 137 43 87 -891 1020 -660 659 -847 841 -885 859 -59 27%0A-156 35 -212 17z'/%3E%3C/g%3E%3C/svg%3E%0A"); }
  .reviewsSwiper__next {
    transform: translateY(-50%) rotateY(180deg);
    right: 0; }
  .reviewsSwiper__prev {
    left: 0; }
  .reviewsSwiper__arrow.swiper-button-disabled:before {
    content: url("data:image/svg+xml,%3C%3Fxml version='1.0' standalone='no'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 20010904//EN' 'http://www.w3.org/TR/2001/REC-SVG-20010904/DTD/svg10.dtd'%3E%3Csvg version='1.0' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 832.000000 1280.000000' preserveAspectRatio='xMidYMid meet'%3E%3Cmetadata%3E%0ACreated by potrace 1.15, written by Peter Selinger 2001-2017%0A%3C/metadata%3E%3Cg transform='translate(0.000000,1280.000000) scale(0.100000,-0.100000)'%0Afill='gray' stroke='none'%3E%3Cpath d='M6285 12787 c-22 -8 -53 -21 -70 -30 -16 -8 -1412 -1399 -3101 -3089%0A-2773 -2774 -3073 -3078 -3090 -3123 -12 -32 -19 -76 -19 -120 1 -142 -282%0A153 3146 -3279 2625 -2627 3102 -3100 3144 -3118 70 -31 180 -31 251 0 42 19%0A187 160 891 865 935 937 878 871 878 1013 0 59 -5 80 -30 128 -25 47 -325 352%0A-1770 1799 -957 958 -1929 1932 -2160 2164 l-420 423 2146 2147 c2384 2386%0A2192 2182 2192 2324 0 137 43 87 -891 1020 -660 659 -847 841 -885 859 -59 27%0A-156 35 -212 17z'/%3E%3C/g%3E%3C/svg%3E%0A"); }
  .reviewsSwiper__pagination .swiper-pagination-bullet {
    width: 6px;
    height: 6px; }
  .reviewsSwiper__pagination .swiper-pagination-bullet-active {
    background: #968080; }

.popup {
  position: fixed;
  visibility: hidden;
  top: 0;
  z-index: -9999;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition-property: opacity, z-index, visibility, top;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  background-color: rgba(0, 0, 0, 0.4); }
  .popup_open {
    opacity: 1;
    visibility: visible;
    z-index: 9999;
    transition-property: opacity, z-index, visibility, top;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    top: 0; }
    .popup_open .popup__callBody {
      top: 50%; }
  .popup__callBody {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 16px;
    top: -150%;
    padding: 40px;
    left: calc(50% + 80px);
    transform: translate(-50%, -50%);
    background-color: #252525;
    max-width: 340px;
    max-height: 560px;
    transition-property: opacity, z-index, visibility, top;
    transition-duration: 0.5s;
    transition-timing-function: ease; }
  .popup__callContent {
    display: flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    flex-direction: column; }
  .popup__title {
    font-size: 44px;
    color: white;
    margin-bottom: 10px; }
    .popup__title span {
      color: #AF8E7B; }
  .popup__textBody {
    color: white;
    margin-bottom: 20px;
    padding: 0 15px; }
  .popup__form {
    display: inline-flex;
    flex-direction: column;
    z-index: 100; }
  .popup__callClose {
    position: absolute;
    cursor: pointer;
    right: -40px;
    top: -30px; }
    .popup__callClose svg {
      background-color: #AF8E7B;
      border: 2px solid #AF8E7B;
      border-radius: 50%; }
  .popup__userBlock {
    display: flex;
    align-items: center;
    flex-direction: column; }
    .popup__userBlock label {
      display: flex;
      width: 100%; }
      .popup__userBlock label:not(:last-child) {
        margin-bottom: 20px; }
    .popup__userBlock input {
      width: 100%;
      font-size: 16px;
      padding: 15px;
      border: 1px solid #AF8E7B;
      border-radius: 25px;
      color: #AF8E7B; }
      .popup__userBlock input::placeholder {
        transition: opacity 0.5s ease;
        opacity: 1;
        color: #AF8E7B; }
      .popup__userBlock input:focus::placeholder {
        opacity: 0; }
  .popup__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin-top: 25px;
    border: 1px solid #AF8E7B;
    color: #AF8E7B;
    border-radius: 25px;
    transition-property: color, background;
    transition-timing-function: ease;
    transition-duration: 0.5s; }
    .popup__button:hover {
      background-color: #AF8E7B;
      color: #ffffff; }

.up {
  position: fixed;
  bottom: 50px;
  left: 120px;
  width: 65px; }
  @media (max-width: 768px) {
    .up {
      left: 30px; } }

body.compensate-for-scrollbar {
  overflow: hidden; }

.fancybox-active {
  height: auto; }

.fancybox-is-hidden {
  left: -9999px;
  margin: 0;
  position: absolute !important;
  top: -9999px;
  visibility: hidden; }

.fancybox-container {
  -webkit-backface-visibility: hidden;
  height: 100%;
  left: 0;
  outline: none;
  position: fixed;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  width: 100%;
  z-index: 99992; }

.fancybox-container * {
  box-sizing: border-box; }

.fancybox-bg, .fancybox-inner, .fancybox-outer, .fancybox-stage {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0; }

.fancybox-outer {
  -webkit-overflow-scrolling: touch;
  overflow-y: auto; }

.fancybox-bg {
  background: #1e1e1e;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); }

.fancybox-is-open .fancybox-bg {
  opacity: .9;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); }

.fancybox-caption, .fancybox-infobar, .fancybox-navigation .fancybox-button, .fancybox-toolbar {
  direction: ltr;
  opacity: 0;
  position: absolute;
  transition: opacity .25s ease,visibility 0s ease .25s;
  visibility: hidden;
  z-index: 99997; }

.fancybox-show-caption .fancybox-caption, .fancybox-show-infobar .fancybox-infobar, .fancybox-show-nav .fancybox-navigation .fancybox-button, .fancybox-show-toolbar .fancybox-toolbar {
  opacity: 1;
  transition: opacity .25s ease 0s,visibility 0s ease 0s;
  visibility: visible; }

.fancybox-infobar {
  color: #ccc;
  font-size: 13px;
  -webkit-font-smoothing: subpixel-antialiased;
  height: 44px;
  left: 0;
  line-height: 44px;
  min-width: 44px;
  mix-blend-mode: difference;
  padding: 0 10px;
  pointer-events: none;
  top: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.fancybox-toolbar {
  right: 0;
  top: 0; }

.fancybox-stage {
  direction: ltr;
  overflow: visible;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 99994; }

.fancybox-is-open .fancybox-stage {
  overflow: hidden; }

.fancybox-slide {
  -webkit-backface-visibility: hidden;
  display: none;
  height: 100%;
  left: 0;
  outline: none;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: absolute;
  text-align: center;
  top: 0;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  white-space: normal;
  width: 100%;
  z-index: 99994; }

.fancybox-slide:before {
  content: "";
  display: inline-block;
  font-size: 0;
  height: 100%;
  vertical-align: middle;
  width: 0; }

.fancybox-is-sliding .fancybox-slide, .fancybox-slide--current, .fancybox-slide--next, .fancybox-slide--previous {
  display: block; }

.fancybox-slide--image {
  overflow: hidden;
  padding: 44px 0; }

.fancybox-slide--image:before {
  display: none; }

.fancybox-slide--html {
  padding: 6px; }

.fancybox-content {
  background: #fff;
  display: inline-block;
  margin: 0;
  max-width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  padding: 44px;
  position: relative;
  text-align: left;
  vertical-align: middle; }

.fancybox-slide--image .fancybox-content {
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  animation-timing-function: cubic-bezier(0.5, 0, 0.14, 1);
  -webkit-backface-visibility: hidden;
  background: transparent;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  left: 0;
  max-width: none;
  overflow: visible;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  transition-property: opacity,-webkit-transform;
  transition-property: transform,opacity;
  transition-property: transform,opacity,-webkit-transform;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 99995; }

.fancybox-can-zoomOut .fancybox-content {
  cursor: zoom-out; }

.fancybox-can-zoomIn .fancybox-content {
  cursor: zoom-in; }

.fancybox-can-pan .fancybox-content, .fancybox-can-swipe .fancybox-content {
  cursor: -webkit-grab;
  cursor: grab; }

.fancybox-is-grabbing .fancybox-content {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

.fancybox-container [data-selectable=true] {
  cursor: text; }

.fancybox-image, .fancybox-spaceball {
  background: transparent;
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-height: none;
  max-width: none;
  padding: 0;
  position: absolute;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%; }

.fancybox-spaceball {
  z-index: 1; }

.fancybox-slide--iframe .fancybox-content, .fancybox-slide--map .fancybox-content, .fancybox-slide--pdf .fancybox-content, .fancybox-slide--video .fancybox-content {
  height: 100%;
  overflow: visible;
  padding: 0;
  width: 100%; }

.fancybox-slide--video .fancybox-content {
  background: #000; }

.fancybox-slide--map .fancybox-content {
  background: #e5e3df; }

.fancybox-slide--iframe .fancybox-content {
  background: #fff; }

.fancybox-iframe, .fancybox-video {
  background: transparent;
  border: 0;
  display: block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%; }

.fancybox-iframe {
  left: 0;
  position: absolute;
  top: 0; }

.fancybox-error {
  background: #fff;
  cursor: default;
  max-width: 400px;
  padding: 40px;
  width: 100%; }

.fancybox-error p {
  color: #444;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 0; }

.fancybox-button {
  background: rgba(30, 30, 30, 0.6);
  border: 0;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0;
  padding: 10px;
  position: relative;
  transition: color .2s;
  vertical-align: top;
  visibility: inherit;
  width: 44px; }

.fancybox-button, .fancybox-button:link, .fancybox-button:visited {
  color: #ccc; }

.fancybox-button:hover {
  color: #fff; }

.fancybox-button:focus {
  outline: none; }

.fancybox-button.fancybox-focus {
  outline: 1px dotted; }

.fancybox-button[disabled], .fancybox-button[disabled]:hover {
  color: #888;
  cursor: default;
  outline: none; }

.fancybox-button div {
  height: 100%; }

.fancybox-button svg {
  display: block;
  height: 100%;
  overflow: visible;
  position: relative;
  width: 100%; }

.fancybox-button svg path {
  fill: currentColor;
  stroke-width: 0; }

.fancybox-button--fsenter svg:nth-child(2), .fancybox-button--fsexit svg:nth-child(1), .fancybox-button--pause svg:nth-child(1), .fancybox-button--play svg:nth-child(2) {
  display: none; }

.fancybox-progress {
  background: #ff5268;
  height: 2px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0;
  transform-origin: 0;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  transition-timing-function: linear;
  z-index: 99998; }

.fancybox-close-small {
  background: transparent;
  border: 0;
  border-radius: 0;
  color: #ccc;
  cursor: pointer;
  opacity: .8;
  padding: 8px;
  position: absolute;
  right: -12px;
  top: -44px;
  z-index: 401; }

.fancybox-close-small:hover {
  color: #fff;
  opacity: 1; }

.fancybox-slide--html .fancybox-close-small {
  color: currentColor;
  padding: 10px;
  right: 0;
  top: 0; }

.fancybox-slide--image.fancybox-is-scaling .fancybox-content {
  overflow: hidden; }

.fancybox-is-scaling .fancybox-close-small, .fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small {
  display: none; }

.fancybox-navigation .fancybox-button {
  background-clip: content-box;
  height: 100px;
  opacity: 0;
  position: absolute;
  top: calc(50% - 50px);
  width: 70px; }

.fancybox-navigation .fancybox-button div {
  padding: 7px; }

.fancybox-navigation .fancybox-button--arrow_left {
  left: 0;
  padding: 31px 26px 31px 6px; }

.fancybox-navigation .fancybox-button--arrow_right {
  padding: 31px 6px 31px 26px;
  right: 0; }

.fancybox-caption {
  bottom: 0;
  color: #eee;
  font-size: 14px;
  font-weight: 400;
  left: 0;
  line-height: 1.5;
  padding: 25px 44px;
  right: 0;
  text-align: center;
  z-index: 99996; }

.fancybox-caption:before {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAD6CAQAAADKSeXYAAAAYklEQVQoz42RwQ3AMAgDjfcfup8WoRykfBAK5mQHKSz5rbXJPis1hjiV3CIqgG0hLZPkVkA4p4x5oR1bVeDrdCLrW2Q0D5bcwY3TGMHbdw3mPRuOtaspYP1w//G1OIcW148H0DMCqI/3mMMAAAAASUVORK5CYII=);
  background-repeat: repeat-x;
  background-size: contain;
  bottom: 0;
  content: "";
  display: block;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: -44px;
  z-index: -1; }

.fancybox-caption a, .fancybox-caption a:link, .fancybox-caption a:visited {
  color: #ccc;
  text-decoration: none; }

.fancybox-caption a:hover {
  color: #fff;
  text-decoration: underline; }

.fancybox-loading {
  -webkit-animation: a 1s linear infinite;
  animation: a 1s linear infinite;
  background: transparent;
  border: 4px solid #888;
  border-bottom-color: #fff;
  border-radius: 50%;
  height: 50px;
  left: 50%;
  margin: -25px 0 0 -25px;
  opacity: .7;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 99999; }

@-webkit-keyframes a {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }
@keyframes a {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }
.fancybox-animated {
  transition-timing-function: cubic-bezier(0, 0, 0.25, 1); }

.fancybox-fx-slide.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0); }

.fancybox-fx-slide.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: translateZ(0);
  transform: translateZ(0); }

.fancybox-fx-fade.fancybox-slide--next, .fancybox-fx-fade.fancybox-slide--previous {
  opacity: 0;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1); }

.fancybox-fx-fade.fancybox-slide--current {
  opacity: 1; }

.fancybox-fx-zoom-in-out.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(1.5, 1.5, 1.5);
  transform: scale3d(1.5, 1.5, 1.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
  transform: scale3d(0.5, 0.5, 0.5); }

.fancybox-fx-zoom-in-out.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1);
  transform: scaleX(1); }

.fancybox-fx-rotate.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: rotate(-1turn);
  transform: rotate(-1turn); }

.fancybox-fx-rotate.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: rotate(1turn);
  transform: rotate(1turn); }

.fancybox-fx-rotate.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg); }

.fancybox-fx-circular.fancybox-slide--previous {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(-100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--next {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0) translate3d(100%, 0, 0);
  transform: scale3d(0, 0, 0) translate3d(100%, 0, 0); }

.fancybox-fx-circular.fancybox-slide--current {
  opacity: 1;
  -webkit-transform: scaleX(1) translateZ(0);
  transform: scaleX(1) translateZ(0); }

.fancybox-fx-tube.fancybox-slide--previous {
  -webkit-transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg);
  transform: translate3d(-100%, 0, 0) scale(0.1) skew(-10deg); }

.fancybox-fx-tube.fancybox-slide--next {
  -webkit-transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg);
  transform: translate3d(100%, 0, 0) scale(0.1) skew(10deg); }

.fancybox-fx-tube.fancybox-slide--current {
  -webkit-transform: translateZ(0) scale(1);
  transform: translateZ(0) scale(1); }

@media (max-height: 576px) {
  .fancybox-caption {
    padding: 12px; }

  .fancybox-slide {
    padding-left: 6px;
    padding-right: 6px; }

  .fancybox-slide--image {
    padding: 6px 0; }

  .fancybox-close-small {
    right: -6px; }

  .fancybox-slide--image .fancybox-close-small {
    background: #4e4e4e;
    color: #f2f4f6;
    height: 36px;
    opacity: 1;
    padding: 6px;
    right: 0;
    top: 0;
    width: 36px; } }
.fancybox-share {
  background: #f4f4f4;
  border-radius: 3px;
  max-width: 90%;
  padding: 30px;
  text-align: center; }

.fancybox-share h1 {
  color: #222;
  font-size: 35px;
  font-weight: 700;
  margin: 0 0 20px; }

.fancybox-share p {
  margin: 0;
  padding: 0; }

.fancybox-share__button {
  border: 0;
  border-radius: 3px;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  margin: 0 5px 10px;
  min-width: 130px;
  padding: 0 15px;
  text-decoration: none;
  transition: all .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap; }

.fancybox-share__button:link, .fancybox-share__button:visited {
  color: #fff; }

.fancybox-share__button:hover {
  text-decoration: none; }

.fancybox-share__button--fb {
  background: #3b5998; }

.fancybox-share__button--fb:hover {
  background: #344e86; }

.fancybox-share__button--pt {
  background: #bd081d; }

.fancybox-share__button--pt:hover {
  background: #aa0719; }

.fancybox-share__button--tw {
  background: #1da1f2; }

.fancybox-share__button--tw:hover {
  background: #0d95e8; }

.fancybox-share__button svg {
  height: 25px;
  margin-right: 7px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 25px; }

.fancybox-share__button svg path {
  fill: #fff; }

.fancybox-share__input {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #d7d7d7;
  border-radius: 0;
  color: #5d5b5b;
  font-size: 14px;
  margin: 10px 0 0;
  outline: none;
  padding: 10px 15px;
  width: 100%; }

.fancybox-thumbs {
  background: #ddd;
  bottom: 0;
  display: none;
  margin: 0;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 2px 2px 4px;
  position: absolute;
  right: 0;
  -webkit-tap-highlight-color: transparent;
  top: 0;
  width: 212px;
  z-index: 99995; }

.fancybox-thumbs-x {
  overflow-x: auto;
  overflow-y: hidden; }

.fancybox-show-thumbs .fancybox-thumbs {
  display: block; }

.fancybox-show-thumbs .fancybox-inner {
  right: 212px; }

.fancybox-thumbs__list {
  font-size: 0;
  height: 100%;
  list-style: none;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  position: absolute;
  position: relative;
  white-space: nowrap;
  width: 100%; }

.fancybox-thumbs-x .fancybox-thumbs__list {
  overflow: hidden; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar {
  width: 7px; }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); }

.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px; }

.fancybox-thumbs__list a {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  float: left;
  height: 75px;
  margin: 2px;
  max-height: calc(100% - 8px);
  max-width: calc(50% - 4px);
  outline: none;
  overflow: hidden;
  padding: 0;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  width: 100px; }

.fancybox-thumbs__list a:before {
  border: 6px solid #ff5268;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  z-index: 99991; }

.fancybox-thumbs__list a:focus:before {
  opacity: .5; }

.fancybox-thumbs__list a.fancybox-thumbs-active:before {
  opacity: 1; }

@media (max-width: 576px) {
  .fancybox-thumbs {
    width: 110px; }

  .fancybox-show-thumbs .fancybox-inner {
    right: 110px; }

  .fancybox-thumbs__list a {
    max-width: calc(100% - 10px); } }
.footer {
  position: relative; }
  .footer__wrapper {
    padding-top: 50px;
    padding-bottom: 50px; }
  .footer__top {
    display: flex;
    justify-content: space-between;
    padding: 100px 0 50px 0;
    border-top: 1px solid #989898; }
    @media (max-width: 560px) {
      .footer__top {
        flex-direction: column; } }
  .footer__topBlock {
    display: flex;
    flex-direction: column; }
    .footer__topBlock:first-child {
      margin-right: 25px; }
      .footer__topBlock:first-child p {
        color: white;
        font-size: 16px; }
        .footer__topBlock:first-child p:not(:last-child) {
          margin-bottom: 15px; }
    @media (max-width: 560px) {
      .footer__topBlock:last-child {
        margin-top: 30px; } }
    .footer__topBlock:last-child h4 {
      font-size: 28px;
      color: white;
      margin-bottom: 15px; }
    .footer__topBlock:last-child a {
      color: white;
      font-size: 16px; }
      .footer__topBlock:last-child a:not(:last-child) {
        margin-bottom: 15px; }
  .footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
    border-top: 1px solid #989898; }
    @media (max-width: 560px) {
      .footer__bottom {
        flex-direction: column; } }
    .footer__bottom p {
      color: white;
      font-size: 14px; }
      @media (max-width: 560px) {
        .footer__bottom p {
          margin-bottom: 20px; } }
    .footer__bottom div {
      display: flex;
      align-items: center; }
      @media (max-width: 560px) {
        .footer__bottom div {
          flex-direction: column;
          align-items: flex-start; } }
      .footer__bottom div a {
        color: white; }
        .footer__bottom div a:first-child {
          font-size: 16px;
          margin-right: 15px; }
          @media (max-width: 560px) {
            .footer__bottom div a:first-child {
              margin-bottom: 20px; } }
        .footer__bottom div a:last-child {
          font-size: 14px; }

/*# sourceMappingURL=style.css.map */
