.backGround
  position: absolute
  width: 100%
  height: calc(100% + 83px)
  background-image: url("../img/backMain.jpg")
  top: 0
  opacity: .04
  margin-top: -83px
  @media (max-width: 1340px)
    height: calc(100% + 148px)
    margin-top: -148px
  &_popup
    height: 100%
    margin-top: 0
    opacity: .1
    border-radius: 16px

.videoBlock__position
  position: absolute
  width: 300px
  height: 150px
  top: 15%
  left: 85%
  @media (max-width: 1290px)
    top: 30%
    left: auto
    right: -130px
  @media (max-width: 1024px)
    top: 56%
    right: -160px
  @media (max-width: 560px)
    top: 51%
    height: 130px
  @media (max-width: 430px)
    height: 100px
    top: 56%



.videoBlock
  display: flex
  flex-direction: column
  z-index: 120
  position: absolute
  text-align: right
  animation: video 3s infinite ease-in-out
  height: 100%
  &:hover .videoBlock__text
    color: #B08F7C
  &__img
    display: none
    position: absolute
    max-width: 52px
    max-height: 52px
    @media (max-width: 991px)
      display: block
  & p
    color: white
    max-width: 200px
    transition: color .5s
    text-align: center
    @media (max-width: 560px)
      max-width: 160px
    & span
      text-transform: uppercase
      font-size: 24px
      display: block

.backGround-gradient
  background-image: linear-gradient(340deg, #A48573 1%, #232426 81%)
  position: absolute
  width: 100%
  height: calc(100% + 83px)
  top: 0
  margin-top: -83px
  z-index: -1
  @media (max-width: 1340px)
    height: calc(100% + 148px)
    margin-top: -148px

.hero
  position: relative
  background-image: url("../img/women-back.webp")
  background-repeat: no-repeat
  background-size: 715px
  background-position: 85% bottom
  margin-bottom: 80px
  @media (max-width: 1480px)
    background-size: 650px
  @media (max-width: 1290px)
    background-size: 550px
    background-position: 95% bottom
  @media (max-width: 1024px)
    background-size: 450px
    padding-bottom: 300px
  @media (max-width: 560px)
    background-size: 350px
  @media (max-width: 560px)
    padding-bottom: 200px

  &__wrapper
    padding-top: 180px
    padding-bottom: 180px
    position: relative
    z-index: 20
    @media (max-width: 560px)
      padding-top: 120px

  &__title
    color: white
    font-size: 52px
    line-height: 1.3em
    letter-spacing: 1px
    max-width: 500px
    margin-bottom: 25px
    @media (max-width: 560px)
      font-size: 36px
  &__text
    max-width: 460px
    color: #F4F4F4
    margin-bottom: 25px
    line-height: 1.3em
    letter-spacing: 1px
    font-size: 15px
    & span
      display: block
  &__buttonsLink
    display: flex
    align-items: flex-start
    justify-content: space-between
    max-width: 440px
  &__link
    display: inline-flex
    align-items: center
    justify-content: center
    text-align: center
    font-size: 18px
    color: #EBEBEB
    background-image: linear-gradient(180deg, #DCC29D00 0%, #AF8E7B 100%)
    border: 2px solid #AF8E7B
    border-radius: 25px
    padding: 14px 30px
    transition: filter .5s
    &:hover
      filter: brightness(80%)



  &__list
    padding-top: 50px
    color: white
    padding-left: 15px
    list-style: none
    @media (max-width: 560px)
      display: none
    & li
      display: flex
      align-items: center
      font-size: 16px
      list-style: inherit
      line-height: 24px








