.backGround
  position: absolute
  width: 100%
  height: calc(100% + 83px)
  background-image: url("../img/backMain.jpg")
  top: 0
  opacity: .04
  margin-top: -83px
  z-index: 1
  @media (max-width: 1340px)
    height: calc(100% + 148px)
    margin-top: -148px
  &_popup
    height: 100%
    margin-top: 0
    opacity: .1
    border-radius: 16px
  &_personal
    z-index: -1
.videoBlock__position
  position: absolute
  width: 150px
  height: 130px
  top: 15%
  right: 0
  @media (max-width: 1080px)
    top: 33%
  @media (max-width: 768px)
    top: 43%
  @media (max-width: 640px)
    height: 60px
    top: 58%
    right: 5px
.videoBlock
  display: flex
  flex-direction: column
  z-index: 120
  position: absolute
  text-align: right
  animation: video 3s infinite linear
  height: 100%
  &:hover .videoBlock__text
    color: #B08F7C
  &__img
    display: block
    position: absolute
    max-width: 52px
    max-height: 52px
    left: -5px
    top: -5px
    @media (max-width: 991px)
      left: -25px
  & p
    color: white
    max-width: 200px
    transition: color .5s
    text-align: center
    @media (max-width: 560px)
      max-width: 160px
      text-align: right


.backGround-gradient
  background-image: linear-gradient(340deg, #A48573 1%, #232426 81%)
  position: absolute
  width: 100%
  height: calc(100% + 83px)
  top: 0
  margin-top: -83px
  z-index: -1
  @media (max-width: 1340px)
    height: calc(100% + 148px)
    margin-top: -148px

.hero
  position: relative
  margin-bottom: 80px

  &__wrapper
    padding-top: 180px
    padding-bottom: 180px
    position: relative
    z-index: 3
    background-image: url("../img/women-back.webp")
    background-repeat: no-repeat
    background-size: 715px
    background-position: right bottom
    @media (max-width: 1440px)
      background-size: 595px
      padding-top: 120px
      padding-bottom: 120px
    @media (max-width: 1110px)
      background-size: 480px
    @media (max-width: 968px)
      background-size: 350px
    @media (max-width: 620px)
      background-size: 320px
      padding-bottom: 400px
      padding-top: 70px

  &__title
    color: white
    font-size: 52px
    line-height: 1.3em
    letter-spacing: 1px
    max-width: 500px
    margin-bottom: 25px
    @media (max-width: 1440px)
      font-size: 40px
    @media (max-width: 560px)
      font-size: 36px
  &__text
    max-width: 460px
    color: #F4F4F4
    margin-bottom: 25px
    line-height: 1.3em
    letter-spacing: 1px
    font-size: 15px
    & span
      display: block
  &__buttonsLink
    display: flex
    align-items: flex-start
    justify-content: space-between
    max-width: 440px
  &__link
    position: relative
    display: inline-flex
    align-items: center
    justify-content: center
    text-align: center
    font-size: 18px
    color: #303030
    background-image: linear-gradient(88.36deg, #BB6D22 2.8%, #F8B857 28.86%, #FFCD89 50.41%, #F8C16D 73.97%, #C38137 99.02%)
    background-repeat: no-repeat
    background-position: 500% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px)
    border-radius: 37px
    padding: 22px 30px
    transition: filter .5s
    overflow: hidden
    z-index: 1
    &:before
      position: absolute
      content: ''
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-size: 200% 100%, auto, 100% 2px, 100% 2px, 100% 1px, 100% 1px
      background-image: linear-gradient(45deg, rgba(255, 255, 255, .0) 30%, rgba(255, 255, 255, .8), rgba(255, 255, 255, .0) 70%)
      background-repeat: no-repeat
      background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px)
      animation: shine 5s ease reverse infinite
      pointer-events: none
    @media (max-width: 400px)
      font-size: 14px
      padding: 10px 20px
    &:hover
      filter: brightness(80%)
    & span
      position: relative
      z-index: 10

  &__list
    padding-top: 50px
    color: white
    padding-left: 15px
    list-style: none
    @media (max-width: 560px)
      display: none
    & li
      display: flex
      align-items: center
      font-size: 16px
      list-style: inherit
      line-height: 24px

@keyframes shine
  100% 
    background-position: 500% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px)

  20% 
    background-position: 200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px)

  0% 
    background-position: -200% 0, 0 0, 0 0, 0 100%, 0 4px, 0 calc(100% - 4px)










