.marquiz__container
  border: 1px solid #B08F7C
  @media (max-width: 768px)
    margin-top: 40px!important
    width: 100% !important
    border: none

.quiz
  margin-bottom: 100px
  &__title,  &__text
    background-image: linear-gradient(to right top, #ffffff, #776154, #AF8E7B, #222222, #776154)
    text-align: center

  &__title
    margin-bottom: 30px
  &__text
    margin-bottom: 30px

