.backGround_six
  margin-top: 0
  height: 100%
  left: 0
.backGround-gradient_six
  background-image: linear-gradient(350deg, #A48573 0%, #232426 49%)
  margin-top: 0
  height: 100%
  left: 0

.six
  position: relative
  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 100px
    margin-bottom: 100px
  &__title
    background-image: linear-gradient(to right top, #ffffff, #f4f4f4, #5f5f5f, #989898, #f4f4f4)
    text-align: center
    max-width: 700px
  &__img
    position: relative
    margin-top: 80px
    min-width: 640px
    min-height: 675px
    height: auto
    background-image: url("../img/six_img.webp")
    background-repeat: no-repeat
    background-size: cover
    background-position: 40px
  &__leftWrapper
    position: absolute
    left: -50%
    transition-property: opacity, left
    transition-delay: .6s
    transition-timing-function: ease
    transition-duration: 2s
    opacity: 0
  &__rightItems,  &__leftItems
    position: relative
    color: white
    font-size: 20px
    z-index: 200
    cursor: pointer
    &-popup
      opacity: 0
      transition: opacity .5s ease
      &.show
        opacity: 1

  &__leftItems
    display: flex
    align-items: center
    &-popup
      $popupWidht: 200px
      width: $popupWidht
      left: -$popupWidht
      position: absolute
    &:first-child
      top: 100px
    &:nth-child(2)
      top: 250px
      right: 100px
    &:nth-child(3)
      top: 450px
      right: 200px
  &__rightWrapper
    position: absolute
    right: -50%
    transition-property: opacity, right
    transition-delay: .6s
    transition-timing-function: ease
    transition-duration: 2s
    opacity: 0
  &__rightItems
    display: flex
    align-items: center
    &-popup
      $popupWidht: 200px
      width: $popupWidht
      right: -$popupWidht - 22
      position: absolute
    &:first-child
      top: 100px
    &:nth-child(2)
      top: 250px
      left: 100px
    &:nth-child(3)
      top: 450px
      left: 200px
  &__plusImg.rotate
    & svg
      transform: rotate(132deg)
    & svg path
      fill: red

.six-visible
  opacity: 1
  &.six__leftWrapper
    left: 0
  &.six__rightWrapper
    right: 0



