.backGround_six
  margin-top: 0
  height: 100%
  left: 0
.backGround-gradient_six
  background-image: linear-gradient(350deg, #A48573 0%, #232426 49%)
  margin-top: 0
  height: 100%
  left: 0

.six
  position: relative
  &__wrapper
    display: flex
    flex-direction: column
    align-items: center
    padding-top: 100px
    margin-bottom: 100px
  &__title
    background-image: linear-gradient(to right top, #ffffff, #f4f4f4, #5f5f5f, #989898, #f4f4f4)
    text-align: center
    max-width: 700px
  &__img
    position: relative
    margin-top: 80px
    min-width: 640px
    min-height: 675px
    height: auto
    background-image: url("../img/six_img.webp")
    background-repeat: no-repeat
    background-size: cover
    background-position: 40px
    @media (max-width: 991px)
      display: flex
      flex-direction: column
      background-size: contain
      background-position: bottom center
      min-width: 100%
  &__leftWrapper
    position: absolute
    left: 0
    transition-property: opacity, left
    transition-delay: .6s
    transition-timing-function: ease
    transition-duration: 2s
    opacity: 1
    @media (max-width: 991px)
      position: static
  &__leftList, &__rightList
    position: absolute
    opacity: 0
    pointer-events: none
    max-width: 260px
    padding: 20px
    background: radial-gradient(52.81% 52.81% at 21.91% 39.89%, #A98976 0%, #80685A 100%)
    transition: opacity .5s ease
    z-index: 250
    @media (max-width: 991px)
      background: none
      position: static
      opacity: 1
      max-width: 100%
  &__leftList
    right: -165px
    top: -13px
    border-radius: 12px 0 12px 12px

  &__rightList
    left: -165px
    top: -13px
    border-radius: 0 12px 12px 12px

  &__rightItems,  &__leftItems
    display: flex
    align-items: center
    position: relative
    color: white
    font-size: 20px
    cursor: pointer
    @media (max-width: 991px)
      flex-direction: column
      position: static
      align-items: flex-start

  &__leftItems
    &-popup
      display: flex
      align-items: center
      $popupWidht: 350px
      width: $popupWidht
      left: -$popupWidht - 10px
      position: absolute
      z-index: 10
      justify-content: flex-end
      & h5
        z-index: -1
        position: relative
        margin-right: 10px
      @media (max-width: 991px)
        position: static
        width: auto
        order: 2

    &:first-child
      top: 0
      left: 0
    &:nth-child(2)
      top: 100px
      right: 140px
    &:nth-child(3)
      top: 200px
      right: 120px
    &:nth-child(4)
      top: 305px
      right: 100px
  &__rightWrapper
    position: absolute
    right: 0
    transition-property: opacity, right
    transition-delay: .6s
    transition-timing-function: ease
    transition-duration: 2s
    opacity: 1
    @media (max-width: 991px)
      position: static
  &__rightItems
    &-popup
      display: flex
      align-items: center
      $popupRWidht: 350px
      width: $popupRWidht
      right: -$popupRWidht - 10px
      position: absolute

      z-index: 10
      @media (max-width: 991px)
        position: static
        width: auto
    &:first-child
      top: 0
      right: 130px
    &:nth-child(2)
      top: 100px
      left: -105px
    &:nth-child(3)
      top: 200px
      left: -80px
    &:nth-child(4)
      top: 305px
      left: -55px
  &__rightWord, &__leftWord
    font-size: 12px
    &:not(:last-child)
      margin-bottom: 10px
  &__plusImg
    display: flex
    z-index: 9

.six__leftItems:hover .six__plusImg
  background-color: #80685A
  border-radius: 0 6px 6px 0
  @media (max-width: 991px)
    background-color: inherit
    border-radius: unset

.six__rightItems:hover .six__plusImg
  background-color: #80685A
  border-radius: 6px 0 0 6px

.six__leftItems:hover .six__plusImg svg
  transform: rotate(45deg)

.six__rightItems:hover .six__plusImg svg

  transform: rotate(45deg)

.six__rightItems:hover .six__plusImg svg rect
  stroke: #80685A

.six__leftItems:hover .six__plusImg svg rect
  stroke: #80685A

.six__leftItems:hover .six__leftItems-popup h5
  opacity: 0


.six__rightItems:hover .six__rightItems-popup > h5
  opacity: 0

.six__leftItems:hover .six__leftList
  opacity: 1
  pointer-events: auto

.six__rightItems:hover .six__rightList
  opacity: 1
  pointer-events: auto

.six-visible
  opacity: 1
  &.six__leftWrapper
    left: 0
  &.six__rightWrapper
    right: 0



